- if @restaurants.any?
  - @restaurants.each do |restaurant|
    %br/
    = link_to restaurant.name, restaurant_path(restaurant)
    = link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
    = link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete
    = link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)
    %br/
    %h3
      Reviews for #{restaurant.name}
    - if restaurant.reviews.any?
      %ul
        - restaurant.reviews.each do |review|
          %li
            = review.thoughts
            ,
            = succeed "/5" do
              %strong= review.rating
    - else
      %p No reviews.
- else
  %h1 no restaurants yet
%br/
%a{:href => new_restaurant_path} add restaurant

